body{background-color: #f4b834;}
h1,h2{background-color: #56a1f6;}
div{

  background-color: #7ade51;
}

 p{
   background-color:#ed3f04;

   font-size: larger;
 }

 #content{
   background-color: #ba6ceb
 }

 .quotaiton{
   background-color: #26ee14
 }
